*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  color: var(--color-background-header);
}

/****************/
/* Section1 */
/****************/
section:first-of-type svg {
    bottom: -.5em;
    height: 4em;
    width: 100%;
}
/****************/
/* Section1 */
/****************/
/****************/
/* Section2 */
/****************/
section:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5em;
    position: relative;
}
section:nth-of-type(2) h2 {
    text-align: left;
    margin: 1em;
    font-size: 2em;
    font-style: italic;
    font-weight: 900;
}

section:nth-of-type(2) svg {
    bottom: -.5em;
    height: 4em;
    width: 100%;
}

section:nth-of-type(2) p {
    text-align: left;
    width: 85%;
    font-size: .9em;
}

section:nth-of-type(2) p:first-of-type {
    margin-bottom: 1em;
    font-style: italic;
}

section:nth-of-type(2) img {
    width: 37em;
    margin-left: 1em;
    order: -1;
}

section:nth-of-type(2) svg {
    bottom: -5.2em;
    height: 4em;
    width: 100%;
    fill: var(--color-hoogtepunten);
}


@media (min-width: 60em) {
 	section:nth-of-type(2) {
  display: flex;
  width: 100%;
  }
}

@media (min-width: 60em) {
 	section:nth-of-type(2) h2 {
  font-size: 3.625em;
  align-self: flex-start;
  }
}

@media (min-width: 60em) {
 	section:nth-of-type(2) p {
  font-size: 1em;
  align-self: flex-start;
  margin-left: 3.5em;
  }
}

@media (min-width: 60em) {
 	section:nth-of-type(2) img {
  width: 80vw;
}
}

@media (min-width:75em) {
 	section:nth-of-type(2) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30em, 36em));
  margin: 8em;
  width: 80%;
  }
}

@media (min-width:75em) {
 	section:nth-of-type(2) h2 {
  grid-column: 2/-1;
  font-size: 3.625em;
  text-align: left;
  word-spacing: -.2em;
  grid-row: 1/-1;
  margin: 1em;
  }
}

@media (min-width:75em) {
 	section:nth-of-type(2) p:nth-of-type(1) {
  grid-column: 2/-1;
    text-align: left;
    font-size: 1em;
    margin-top: -4em;
  }
}

@media (min-width:75em) {
 	section:nth-of-type(2) p:nth-of-type(2) {
  grid-column: 2/-1;
    text-align: left;
    font-size: 1em;
    margin-top: -1em;
    width: 70%;
  }
}

@media (min-width:75em) {
 	section:nth-of-type(2) img {
  grid-row: 1/4;
  width: 45em;
   grid-column: 1;
      justify-self: center;  
  }
}

@media (min-width:75em) {
 	section:nth-of-type(2) svg {
     bottom: -8em;
    height: 4em;
    width: 120%;
  }
}
/****************/
/* Section2 */
/****************/
/****************/
/* Section3 */
/****************/

section:nth-of-type(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-hoogtepunten);
}

section:nth-of-type(3) h2 {
  font-size: 1.8em;
  text-align: left;
  margin-left: -2em;
  font-weight: 900;
  font-style: italic;
  margin-top: 1em;
}

/*carousel */

.carousel {
  display: flex;
  overflow-x: auto;
  gap: 1em; 
  scroll-behavior: smooth;
  list-style: none;
  width: 93%;
  scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.card li {
  display: flex;
  flex-direction: column-reverse;
  gap: 1em;
  align-items: center;
  scroll-snap-align: center;
}

.card {
  display: flex;
  align-items: center;
}

.card li img {
  width: 24em;
}

.card li  {
  text-align: center;
}

.card li h3 {
  margin: 3em;
  order: 2;
}
/*carousel */

section:nth-of-type(3) h3 {
  background-color: var(--color-hoogtepunten-button);
  border: none;
  width: 11em;
  height: 2.5em;
  color: var(--color-text-dark-bg);
  font-size: .8em;
  font-weight: 900;
  font-style: italic;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center; 
}

@media (min-width:40em) {
 	section:nth-of-type(3) ul {
     display: flex;
     justify-content: center;
     align-items: center;
  }
}
@media (min-width:40em) {
 	section:nth-of-type(3) h2 {
     font-size: 3.625em;
  }
}

@media (min-width:40em) {
 	section:nth-of-type(3) li {
     display: none;
  }
}

@media (min-width:40em) {
 	section:nth-of-type(3) li:first-of-type {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30em, 36em));
    width: 100%;
  }
}

@media (min-width:40em) {
 	section:nth-of-type(3) li:first-of-type img {
     grid-column: 2;
     grid-row: 1/3;
     width: 30vw;
  }
}

@media (min-width:40em) {
 	section:nth-of-type(3) li:first-of-type h3 {
     grid-column: 1;
     grid-row: 1;
  }
}

@media (min-width:40em) {
 	section:nth-of-type(3) li h3 {
     grid-column: 1;
     grid-row: 1;
     align-self: flex-start;
  }
}

@media (min-width:40em) {
 	section:nth-of-type(3) li:first-of-type p {
     grid-row: 1;
     margin-top: 6em;
     grid-column: 1;
    width: 60%;
    text-align: left;
    margin-left: 2.4em;
  }
}

@media (min-width:75em) {
 	section:nth-of-type(3) ul {
     display: flex;
     justify-content: center;
     align-items: center;
  }
}

@media (min-width:75em) {
 	section:nth-of-type(3) h2 {
     font-size: 3.625em;
  }
}

@media (min-width:75em) {
 	section:nth-of-type(3) li {
     display: none;
  }
}

@media (min-width:75em) {
 	section:nth-of-type(3) li:first-of-type {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30em, 36em));
    width: 60%;
  }
}

@media (min-width:75em) {
 	section:nth-of-type(3) li:first-of-type img {
     grid-column: 2;
     grid-row: 1/3;
     width: 30vw;
  }
}

@media (min-width:75em) {
 	section:nth-of-type(3) li:first-of-type h3 {
     grid-column: 1;
     grid-row: 1;
  }
}

@media (min-width:75em) {
 	section:nth-of-type(3) li h3 {
     grid-column: 1;
     grid-row: 1;
     align-self: flex-start;
  }
}

@media (min-width:75em) {
 	section:nth-of-type(3) li:first-of-type p {
     grid-row: 1;
     margin-top: 6em;
     grid-column: 1;
    width: 60%;
    text-align: left;
    margin-left: 2.4em;
  }
}

/****************/
/* Section3 */
/****************/
/****************/
/* Section4 */
/****************/

section:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-hoogtepunten);
  position: relative;
}

section:nth-of-type(4) img {
  order: -1;
  width: 40em;
}

section:nth-of-type(4) a {
  order: 4;
  width: 90%;
  text-decoration: none;
  font-size: .9em;
  margin-bottom: 10em;
}

section:nth-of-type(4) h2 {
  text-align: left;
  width: 90%;
  font-size: 2em;
  font-weight: 900;
  font-style: italic;
  line-height: 2.2rem;
}

section:nth-of-type(4) p {
  text-align: left;
  width: 90%;
  margin: .5em;
  line-height: 1.4em;
}

section:nth-of-type(4) svg {
    bottom: -.2em;
    height: 4em;
    width: 100%;
    fill: var(--color-background);
}

@media (min-width: 60em) {
 	section:nth-of-type(4) {
  display: flex;
  width: 100%;
  }
}

@media (min-width: 60em) {
 	section:nth-of-type(4) h2 {
  font-size: 3.625em;
  align-self: flex-start;
  margin:1em;
  }
}

@media (min-width: 60em) {
 	section:nth-of-type(4) p {
  font-size: 1em;
  align-self: flex-start;
  margin-left: 3.5em;
  }
}

@media (min-width: 60em) {
 	section:nth-of-type(4) img {
  width: 80vw;
}
}

@media (min-width:75em) {
 	section:nth-of-type(4) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30em, 1em));
  }
}

@media (min-width:75em) {
 	section:nth-of-type(4) h2 {
  font-size: 3.625em;
  text-align: left;
  word-spacing: -.2em;
  line-height: 1em;
  grid-row: 1;
  margin: 1em;
  margin-top: 3em;
  }
}

@media (min-width:75em) {
 	section:nth-of-type(4) p {
  grid-column: 2;
    font-size: 1em;
  }
}

@media (min-width:75em) {
 	section:nth-of-type(4) a {
  grid-column: 2;
    font-size: 1em;
    margin-left: 3.5em;
  }
}


@media (min-width:75em) {
 	section:nth-of-type(4) img {
  grid-row: 1/4;
  width: 50em;
   grid-column: 1;
      justify-self: center;  
  }
}
/****************/
/* Section4 */
/****************/
/****************/
/* Section5 */
/****************/
section:nth-of-type(5) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-);
  overflow-x: hidden;
}

section:nth-of-type(5) img {
  order: -1;
  width: 40em;
}

section:nth-of-type(5) h2 {
  text-align: left;
  width: 90%;
  font-size: 2em;
  font-weight: 900;
  font-style: italic;
  line-height: 2.2rem;
}

section:nth-of-type(5) p {
  text-align: left;
  width: 90%;
  margin: .5em;
  line-height: 1.4em;
  margin-bottom: 5em;
}

@media (min-width: 60em) {
 	section:nth-of-type(5) {
  display: flex;
  width: 100%;
  }
}

@media (min-width: 60em) {
 	section:nth-of-type(5) h2 {
  font-size: 3.625em;
  align-self: flex-start;
  margin:1em;
  }
}

@media (min-width: 60em) {
 	section:nth-of-type(5) p {
  font-size: 1em;
  align-self: flex-start;
  margin-left: 3.5em;
  }
}

@media (min-width: 60em) {
 	section:nth-of-type(5) img {
  width: 80vw;
}
}

@media (min-width:75em) {
 	section:nth-of-type(5) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30em, 1em));
  }
}

@media (min-width:75em) {
 	section:nth-of-type(5) h2 {
  font-size: 3.625em;
  text-align: left;
  word-spacing: -.2em;
  line-height: 1em;
  grid-row: 1;
  margin: 1em;
  margin-top: 3em;
  }
}

@media (min-width:75em) {
 	section:nth-of-type(5) p {
  grid-column: 2;
    font-size: 1em;
  }
}

@media (min-width:75em) {
 	section:nth-of-type(5) img {
  grid-row: 1/4;
  width: 50em;
   grid-column: 1;
      justify-self: center;  
  }
}