/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	list-style: none;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-text-dark-bg:white;
	--color-background:#EAD6C1;
	--color-background-first-header:black;
	--color-background-header:#382215;
	--color-news-block:#FCFAF6;
	--color-date:#D1D1D1;
	--color-update:#58BB80;
	--color-button_outline:rgb(56, 34, 21);
}


/****************/
/* JOUW STYLING */
/****************/

/****************/
/* header */
/****************/

/* jouw code */
body {
	background-color:var(--color-background);
	font-family: 'noto_sans', sans-serif;
}

h2 {
	color: var(--color-background-header);
	font-size: 2em;
	text-align: center;
	margin: 1em;
	font-family: 'noto_sans', sans-serif;
	font-weight: 900;
	font-style: italic;
}

header {
	background-color:var(--color-background-header);
}


nav:nth-of-type(2) {
	display: flex;
	justify-content: space-between;
}

nav:nth-of-type(2) a {
	margin: 1em;
}

nav:nth-of-type(2) a img {
	max-width: 100%;
	height: auto;
}

nav:nth-of-type(2) button {
	margin: 1em;
	background-color: var(--color-background-header);
	border-width: 0;
}

@media only screen and (min-width: 10em) {
  header ul:first-of-type {
    display: none;
  }
}

time {
	color: var(--color-date);
}

/****************/
/* header */
/****************/

/*burger menu*/
nav:nth-of-type(3) {
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  translate:-100%;
  background-color: var(--color-background-header);
}

nav.is-open {
 translate:0%;
  
}

/****************/
/* Section1 */
/****************/
section:nth-of-type(1) {
	display: flex;
	justify-content: center;
	position: relative;
	overflow: hidden;
}


section:nth-of-type(1) h1:nth-of-type(1) {
	position: absolute;
	color: var(--color-text-dark-bg);
	top: 1em;
	font-style: italic;
	font-family: 'noto_sans', sans-serif;
	font-weight: 900;
	font-size: 3.375rem !important;
	line-height: 3.8rem !important;
}


section:nth-of-type(1) li:nth-of-type(2) {
	position: absolute;
	background-color: black;

}

section:nth-of-type(1) li:nth-of-type(3) {
	position: absolute;
	background-color: black;
}

section:nth-of-type(1) li:nth-of-type(4) {
	position: absolute;
	background-color: black;
}
/****************/
/* Section2 */
/****************/
section:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section:nth-of-type(2) ul {
	display:flex;
	flex-direction: column;
	column-gap: 2em;
	row-gap: 2em;
	padding: 1em;
}

/*Eerste ul */
section:nth-of-type(2) li {
	display: grid;

	background-color: var(--color-news-block);
	border-radius: 0.5em;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);

	overflow: hidden;
}

h3 {
  font-family: 'noto_sans_bold', sans-serif;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 900;
  text-align: left;
  margin: 0.5em;
}

section:nth-of-type(2) li img {
  order: 1; /* bovenaan */
  max-width: 100%;
}

section:nth-of-type(2) li p:first-of-type {
  order: 2; /* spelupdate */
  	background-color:var(--color-update);
	color:var(--color-text-dark-bg);
	justify-self:center;
	width: 20vw;
	height: 4vh;
	text-align: center;
	line-height: 4vh;
	translate:0 -50%;
}

section:nth-of-type(2) li p:nth-of-type(2) {
  order: 3; /* tijd */
	margin-left: 2em;
}

section:nth-of-type(2) li h3 {
  order: 4; /* titel */
    margin-left: 1.2em;
}

section:nth-of-type(2) li p:last-of-type {
  order: 5; /* laatste p tekst */
  margin-left: 2em;
  margin-bottom: 3em;
}

/*Tweede ul */

section:nth-of-type(2) li:nth-of-type(2) {
	display: grid;

	background-color: var(--color-news-block);
	border-radius: 0.5em;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);

	overflow: hidden;
}

h3 {
  font-family: 'noto_sans_bold', sans-serif;
  font-size: 1.5em;
  font-style: italic;
  font-weight: 900;
  text-align: left;
  margin: 0.5em;
}

section:nth-of-type(2) li:nth-of-type(2) img {
  order: 1; /* bovenaan */
}

section:nth-of-type(2) li:nth-of-type(2) p:first-of-type {
  order: 2; /* spelupdate */
  	background-color:var(--color-update);
	color:var(--color-text-dark-bg);
	justify-self:center;
	width: 20vw;
	height: 4vh;
	text-align: center;
	line-height: 4vh;
	translate:0 -50%;
}

section:nth-of-type(2) li:nth-of-type(2) p:nth-of-type(2) {
  order: 3; /* tijd */
	margin-left: 2em;
}

section:nth-of-type(2) li:nth-of-type(2) h3 {
  order: 4; /* titel */
    margin-left: 1.2em;
}

section:nth-of-type(2) li:nth-of-type(2) p:last-of-type {
  order: 5; /* laatste p tekst */
  margin-left: 2em;
  margin-bottom: 3em;
}

section:nth-of-type(2) button {
	width: 10vw;
	font-weight: 900;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 2em;
	transition: .2s;
	height: 5vh;
	width: 55vw;
	line-height: 0;
	white-space: nowrap;
	padding: 0.75rem 1.5rem;
	font-size: 1.25em;
	font-style: italic;
	font-family: 'noto_sans', sans-serif;
	background: transparent;
	outline: var(--color-button_outline) solid 2px;
	color: var(--color-button_outline);
}

@media (min-width:50em) {
 	section:nth-of-type(2) ul {
    /* JOUW CODE HIER - stap 10 */
    flex-direction:row;
	margin: 5%;
  }
}
/****************/
/* Section2 */
/****************/
/****************/
/* Section3 */
/****************/
section:nth-of-type(3) {
	display: flex;
	flex-direction: column;
	justify-content: center;
}



section:nth-of-type(3) li {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

section:nth-of-type(3) p {
	font-size: 1em;
	width: 100%;
	margin-top: 10%;
	margin-bottom: 10%;
	text-align: center;
}

/****************/
/* Section3 */
/****************/
/****************/
/* Section4 */
/****************/




/****************/
/* Section4 */
/****************/
/****************/
/* Section5 */
/****************/




/****************/
/* Section5 */
/****************/
/****************/
/* Section6 */
/****************/




/****************/
/* Section6 */
/****************/
/****************/
/* Footer */
/****************/
footer {
	padding: 2em;
	background-color:var(--color-background-header);
	color:var(--color-text-dark-bg);
}

footer li {
	display: flex;
	justify-content: center;
	margin: .5em;
	gap: .5em;
}

footer a {
	display: flex;
	justify-content: center;
	text-decoration: none;
	color: var(--color-text-dark-bg);
}

footer button {
	background-color: var(--color-background-header);
	color: var(--color-text-dark-bg);
	border-width: 0;
	font-size: 1em;
}

footer a img {
	max-width: 30vw;
	height: auto;
}

ul:nth-of-type(2) {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

footer ul:nth-of-type(1) {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

footer ul:nth-of-type(4) {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

footer p {
	display: flex;
	justify-content: center;
	margin: .5em;
}
/****************/
/* Footer */
/****************/
