h2 {
	color: var(--color-background-header);
	font-size: 2.8em;
	text-align: center;
	margin: 1em;
	font-family: 'noto_sans', sans-serif;
	font-weight: 900;
	font-style: italic;
}

/****************/
/* Section2 */
/****************/
section:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	background-image: var(--color-gradient-background);
}

section:nth-of-type(2) ul {
	display:flex;
	flex-direction: column;
	column-gap: 2em;
	row-gap: 2em;
	padding: 1em;
}

section:nth-of-type(2) h2 {
	margin-top: 2em;
}

/*Eerste ul */
section:nth-of-type(2) li a {
	display: grid;

	background-color: var(--color-news-block);
	border-radius: 0.5em;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);

	overflow: hidden;
	text-decoration: none;
	color: var(--color-background-header);
}

h3 {
	font-family: 'noto_sans_bold', sans-serif;
	font-size: 1.5em;
	font-style: italic;
	font-weight: 900;
	text-align: left;
	margin: 0.5em;
}

section:nth-of-type(2) li img {
	order: 1;
	max-width: 100%;
}

section:nth-of-type(2) li p:first-of-type {
  	order: 2;
  	background-color:var(--color-update);
	color:var(--color-text-dark-bg);
	justify-self:center;
	translate:0 -50%;
	padding: 1em;
	font-weight: 700;
}

section:nth-of-type(2) li p:nth-of-type(2) {
 	order: 3; /* tijd */
	margin-left: 2em;
}

section:nth-of-type(2) li h3 {
  	order: 4; /* titel */
	margin-left: 1.2em;
}

section:nth-of-type(2) li p:last-of-type {
	order: 5; /* laatste p tekst */
	margin-left: 2em;
	margin-bottom: 3em;
}

/*Tweede ul */

section:nth-of-type(2) li:nth-of-type(2) {
	display: grid;

	background-color: var(--color-news-block);
	border-radius: 0.5em;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);

	overflow: hidden;
}

h3 {
	font-family: 'noto_sans_bold', sans-serif;
	font-size: 1.5em;
	font-style: italic;
	font-weight: 900;
	text-align: left;
	margin: 0.5em;
}

section:nth-of-type(2) li:nth-of-type(2) img {
	order: 1; /* bovenaan */
	max-width: 100%;
}

section:nth-of-type(2) li:nth-of-type(2) p:first-of-type {
  order: 2; /* spelupdate */
  	background-color:var(--color-update);
	color:var(--color-text-dark-bg);
	justify-self:center;
	translate:0 -50%;
	font-weight: 700;
}

section:nth-of-type(2) li:nth-of-type(2) p:nth-of-type(2) {
  order: 3; /* tijd */
	margin-left: 2em;
}

section:nth-of-type(2) li:nth-of-type(2) h3 {
  order: 4; /* titel */
    margin-left: 1.2em;
}

section:nth-of-type(2) li:nth-of-type(2) p:last-of-type {
  order: 5; /* laatste p tekst */
  margin-left: 1em;
  margin-bottom: 3em;
}

section:nth-of-type(2) button {
	font-weight: 900;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 2em;
	transition: .2s;
	height: 5vh;
	width: 300px;    /* px want de button veranderd niet van size */
	white-space: nowrap;
	font-size: 1.6em;
	font-style: italic;
	font-family: 'noto_sans', sans-serif;
	background: transparent;
	outline: var(--color-button_outline) solid 2px;
	color: var(--color-button_outline);
	cursor: pointer;
	margin-bottom: 3em;
}

/* https://www.w3schools.com/howto/howto_css_transition_hover.asp */

section:nth-of-type(2) ul:nth-of-type(1) li:nth-of-type(1):hover {
	box-shadow: 0 0 10px 3px var(--color-star-stable-roze);
	transition: 0.3s;
}
section:nth-of-type(2) ul:nth-of-type(1) li:nth-of-type(2):hover {
	box-shadow: 0 0 10px 3px var(--color-star-stable-roze);
	transition: 0.3s;
}
section:nth-of-type(2) ul:nth-of-type(1) img:hover {
	transform: scale(1.04);
	transition: 0.3s;
}
section:nth-of-type(2) button:hover {
	box-shadow: 0 0 10px 3px var(--color-star-stable-roze);
	transition: 0.3s;
}

section:nth-of-type(2) ul:nth-of-type(1) li:nth-of-type(1):focus {
	box-shadow: 0 0 10px 3px var(--color-star-stable-roze);
	transition: 0.3s;
}
section:nth-of-type(2) ul:nth-of-type(1) li:nth-of-type(2):focus {
	box-shadow: 0 0 10px 3px var(--color-star-stable-roze);
	transition: 0.3s;
}
section:nth-of-type(2) ul:nth-of-type(1) img:focus {
	transform: scale(1.04);
	transition: 0.3s;
}
section:nth-of-type(2) button:focus {
	box-shadow: 0 0 10px 3px var(--color-star-stable-roze);
	transition: 0.3s;
}

@media (min-width:50em) {
 	section:nth-of-type(2) ul {
    flex-direction:row;
	margin: 8em;
  }
}
/****************/
/* Section2 */
/****************/
/****************/
/* Section3 */
/****************/
section:nth-of-type(3) {
	background-image: var(--color-gradient-background);
	position: relative;
}

section:nth-of-type(3) ul {
  display: grid;
  justify-items: center;
  justify-content: center;
  gap: 1em;
  margin: 1em;
}

section:nth-of-type(3) li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section:nth-of-type(3) p {
  font-size: 1em;
  text-align: center;
  padding: 2em;
}

section:nth-of-type(3) img {
  width: 50vw;
  height: auto;
}

section:nth-of-type(3) h3 {
	grid-column: 1/-1;
	text-align: center;
	font-family: 'noto_sans', sans-serif;
	font-style: italic;
	font-weight: 900;
	font-size: 1.2em;
}

section:nth-of-type(3) li:nth-of-type(5) {
	background-color: var(--color-star-rider-button);
	width: 25em;
	border-radius: 5%;
}

section:nth-of-type(3) li:nth-of-type(5) a {
	display: flex;
	color: var(--color-text-dark-bg);
	text-align: center;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

section:nth-of-type(3) li:nth-of-type(5) {
	margin-bottom: 5em;
}

section:nth-of-type(3) li:nth-of-type(5) a img {
  order: -1;
}

@media (min-width: 50em) {
  section:nth-of-type(3) ul {
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
	width: 70%;
	justify-self: center;
	align-items: center;
  }
}

@media (min-width: 50em) {
  section:nth-of-type(3) p {
    font-size: 1.2em;
	width: 70%;
	justify-self: center;
  }
}

@media (min-width: 50em) {
  section:nth-of-type(3) h2 {
    font-size: 3.625em;
  }
}

@media (min-width: 50em) {
  section:nth-of-type(3) img {
    max-width: 9em;
  }
}
/****************/
/* Section3 */
/****************/
/****************/
/* Section4 */
/****************/
section:nth-of-type(4) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	background-image: var(--color-gradient-background);
}

section:nth-of-type(4) ul {
	background-color: var(--color-carousel-color-background);
	width: 18em;
	height: 30em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 2em;
}

section:nth-of-type(4) ul:nth-of-type(2) {
	margin-bottom: 5em;
}

section:nth-of-type(4) ul li:nth-of-type(1) { order: 1;}	/* titel */
section:nth-of-type(4) ul li:nth-of-type(6) { order: 2;} 	/* img */
section:nth-of-type(4) ul li:nth-of-type(2) { order: 3;}	/* sc 1 */
section:nth-of-type(4) ul li:nth-of-type(3) { order: 4;} 	/* sc 2 */
section:nth-of-type(4) ul li:nth-of-type(4) { order: 4;}	/* button */
section:nth-of-type(4) ul li:nth-of-type(5) { order: 6;} 	/* tekst */

section:nth-of-type(4) ul li img {
	max-width: 80%;
  	display: block;
  	margin: 0 auto;
}

section:nth-of-type(4) ul li:nth-of-type(2),
section:nth-of-type(4) ul li:nth-of-type(3) {
	display: grid;
	grid-template-columns: 1fr 3fr;
	width: 8em;
}

section:nth-of-type(4) ul li:nth-of-type(2) img {
	width: 2em;
	grid-row: 1/3;
	margin-right: .2em;
}

section:nth-of-type(4) ul li:nth-of-type(2) p:first-of-type {
	font-weight: 700;
	font-size: .8em;
}

section:nth-of-type(4) ul li:nth-of-type(2) p:nth-of-type(2) {
	font-weight: normal;
	font-size: .6em;
}

section:nth-of-type(4) ul li:nth-of-type(3) img {
	width: 1.8em;
	grid-row: 1/3;
	margin-right: .2em;
}

section:nth-of-type(4) ul li:nth-of-type(5) p {
	font-size: .9em;
	margin: .1em;
	text-align: center;
	color: var(--color-background-header);
}

section:nth-of-type(4) ul li:nth-of-type(3) p:first-of-type {
	font-weight: 700;
	font-size: .8em;
}

section:nth-of-type(4) ul li:nth-of-type(3) p:nth-of-type(2) {
	font-weight: normal;
	font-size: .8em;
}

section:nth-of-type(4) ul li:nth-of-type(4) button {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 17em;
	height: 3.5em;
	background-color: var(--color-carousel-color);
	border:none;
	border-radius: 0.25rem;
	color: var(--color-text-dark-bg);
}

section:nth-of-type(4) ul li:nth-of-type(4) button span:nth-of-type(1) {
	font-size: 1.8em;
	font-style: italic;
	font-weight: bold;
}

section:nth-of-type(4) ul li:nth-of-type(4) button span:nth-of-type(2) {
	font-size: 1em;
	font-style: italic;
	font-weight: bold;
}

/*https://youtu.be/gmI5nvzv170?si=RhGyLiyPC31UMmGM*/

.carousel {
	width: 80%;
	overflow-x: auto;
	display: flex;
	gap: 1em;
	scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
	display: none;
}

.card {
	flex: 0 0 17em;
}

section:nth-of-type(4) ul li:nth-of-type(4) button:hover {
	box-shadow: 0 0 10px 3px var(--color-star-stable-roze);
	transition: 0.3s;
}
section:nth-of-type(4) ul:hover {
	box-shadow: 0 0 10px 3px var(--color-star-stable-roze);
	transition: 0.3s;
}
section:nth-of-type(4) ul li:nth-of-type(4) button:focus {
	box-shadow: 0 0 10px 3px var(--color-star-stable-roze);
	transition: 0.3s;
}
section:nth-of-type(4) ul:focus {
	box-shadow: 0 0 10px 3px var(--color-star-stable-roze);
	transition: 0.3s;
}

@media (min-width: 50em) {
  section:nth-of-type(4) article {
	display: flex;
	flex-direction: row;
	justify-content: center;
  }
}

@media (min-width: 50em) {
  section:nth-of-type(4) h2 {
    font-size: 3.625em;
  }
}
/****************/
/* Section4 */
/****************/
/****************/
/* Section5 */
/****************/
section:nth-of-type(5) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: var(--color-gradient-background);
	margin-top: 5em;
}

section:nth-of-type(5) p {
	text-align: center;
	font-size: 1em;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 2em;
	color: var(--color-background-header);
}

section:nth-of-type(5) article {
  display: grid;
  grid-template-columns: 2fr 2fr;
  width: 95vw;
  background-color: var(--color-news-block);
  border-radius: 2%;
  padding: .8em;
  gap: 1em;
  margin: 2em;
}

section:nth-of-type(5) h3 {
	grid-column: 1/-1;
	text-align: center;
	font-family: 'noto_sans', sans-serif;
	font-style: italic;
	font-weight: 900;
	font-size: 1.2em;
	color: var(--color-background-header);
}

section:nth-of-type(5) p {
	grid-column: 1/-1;
	font-family: 'noto_sans', sans-serif;
	font-size: 1em;
	font-weight: normal;
	text-align: center;
	color: var(--color-background-header);
}

section:nth-of-type(5) img {
	order: -1;
	grid-column: 1/-1;
	max-width: 100%;
	border-radius: 2%;
	align-self: center;
}

section:nth-of-type(5) a {
	display: flex;
	justify-content: center;
}

section:nth-of-type(5) a img {
	width: 40vw;
	margin-bottom: 1em;
}

@media (min-width: 50em) {
  section:nth-of-type(5) div {
	display: flex;
	flex-direction: row;
	max-width: 65%;
  }
}

@media (min-width: 50em) {
  section:nth-of-type(5) h2 {
    font-size: 3.625em;

  }
}
/****************/
/* Section5 */
/****************/
