/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-text-dark-bg:white;
	--color-background:#EAD6C1;
	--color-background-first-header:black;
	--color-background-header:#382215;
}





/****************/
/* JOUW STYLING */
/****************/

/****************/
/* header */
/****************/

/* jouw code */
body {
	background-color:var(--color-background);
}

header {
	background-color:var(--color-background-header);
}

nav:nth-of-type(2) {
	display: flex;
	justify-content: space-between;
}

nav:nth-of-type(2) a {
	margin: 1em;
}

nav:nth-of-type(2) a img {
	width: 20vw;
	height: auto;
}

nav:nth-of-type(2) button {
	margin: 1em;
	background-color: var(--color-background-header);
	border-width: 0;
}

@media only screen and (max-width: 50em) {
  header ul:first-of-type {
    display: none;
  }
}

/****************/
/* header */
/****************/



/****************/
/* Section1 */
/****************/




/****************/
/* Section1 */
/****************/
/****************/
/* Section2 */
/****************/




/****************/
/* Section2 */
/****************/
/****************/
/* Section3 */
/****************/




/****************/
/* Section3 */
/****************/
/****************/
/* Section4 */
/****************/




/****************/
/* Section4 */
/****************/
/****************/
/* Section5 */
/****************/




/****************/
/* Section5 */
/****************/
/****************/
/* Section6 */
/****************/




/****************/
/* Section6 */
/****************/
/****************/
/* Footer */
/****************/
footer {
	padding: 2em;
	background-color:var(--color-background-header);
	color:var(--color-text-dark-bg);
}

footer li {
	display: flex;
	justify-content: center;
	margin: .5em;
	gap: .5em;
}

footer a {
	display: flex;
	justify-content: center;
	text-decoration: none;
	color: var(--color-text-dark-bg);
}

footer button {
	background-color: var(--color-background-header);
	color: var(--color-text-dark-bg);
	border-width: 0;
	font-size: 1em;
}

footer a img {
	max-width: 30vw;
	height: auto;
}

ul:nth-of-type(2) {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/****************/
/* Footer */
/****************/
